
.Text-center{
    text-align: center;
}
/* .container{
    text-align: center;
} */
.bg-colour{
    /* margin: auto; */
    /* padding: 0cm; */
    background-color: aqua;
}
.flex{
    display: flex;
    /* width: 50%; */
    
}
.flex-column{
    flex-direction: column;
}
.items-center{
    align-items: center;
    
}
.flex3{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
.flex2{
    display: flex;
    width: 300px;
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 25px;
}
/* .dis{
    width: 300px;
    display: block;
} */